#copyButton {
    -fx-text-fill: white;
    -fx-background-color: dimgray;
}

#helpMessage {
    -fx-text-fill: black;
}

.scroll-pane .viewport {
    -fx-background-color: white;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}
